# DO NOT commit real values to Git.
# To generate base64 values: echo -n "yourvalue" | base64

apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: taskapp
type: Opaque
data:
  POSTGRES_DB: dGFza2Fwcw==         # taskapp
  POSTGRES_USER: dGFza3VzZXI=       # taskuser
  POSTGRES_PASSWORD: CHANGE_ME_BASE64
  DATABASE_URL: CHANGE_ME_BASE64
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: taskapp
type: Opaque
data:
  SECRET_KEY: CHANGE_ME_BASE64
